services:
  api-test-docker:
    build: 
      context: .
    container_name: api-test-docker
    ports:
      - 3000:3333
    env_file:
      - .env
    depends_on:
      - postgresql
    networks:
      - test-network
  
  postgresql:
    image: postgres:16
    container_name: postgresql
    volumes:
      - db:/var/lib/postgresql
    ports:
      - 5432:5432
    environment:
      - POSTGRES_USER=docker
      - POSTGRES_PASSWORD=docker
      - POSTGRES_DB=test
    networks:
      - test-network

networks:
  test-network:
    driver: bridge

volumes:
  db: